<!DOCTYPE html>
<html>

<div class="container">
<h2>2400m Run Database Results</h2>

<table class="2400m-run-table">
  <tr>
    <th>Full Name</th>
    <th>Last Timing</th>
    <th>Date of Last Timing</th>
    <th>Past Results</th>
  </tr>
    <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.id%></td>
        <td><%= r.full_name%></td>
        <td><%= r.email%></td>
        <td><%= r.phone_number%></td>
      </tr>
    <% }); %>
</table>

</div>
</body>
</html>