<!DOCTYPE html>
<html>

<div class="container">
<h2>2400m Run Database Results</h2>

<table class="two-thousand-four-hundred-metre-run-table">
  <tr>
    <th>Full Name</th>
    <th>Last Timing</th>
    <th>Date of Last Timing</th>
    <th>Past Timings</th>
  </tr>
    <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.full_name%></td>
        <td><%= r.last_timing%></td>
        <td><%= r.date_of_last_timing%></td>
        <td><%= r.past_timings%></td>
      </tr>
    <% }); %>
</table>

</div>
</body>
</html>